<!DOCTYPE html>
<html>
<head>
  <title>Lịch sử mua hàng</title>
  <%- include('../layout/header.ejs'); -%>
</head>
<body>
  <%- include('../layout/navbar.ejs'); -%>
<div class="container">
  <h1>Lịch sử mua hàng</h1>
  <% if(orders) { %>

  <table class="table">
    <thead>
      <tr>
        <th>Ngày mua</th>
        <th>Mã đơn hàng</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <!-- Dùng vòng lặp để hiển thị thông tin từng đơn hàng -->
      <% orders.forEach(function(order) { %>
        <tr>
          <td><%= order.createdAt.getDate() %> / <%= order.createdAt.getMonth() %> / <%= order.createdAt.getFullYear() %></td>
          <td><%= order.orderID %></td>
          <td><%= order.total %></td>
          <td><%= order.status.name %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% }else{ %>
    <div>Hiện tại bạn chưa mua đơn hàng nào bên Shop!!!</div>
    <% }; %>
</div>

<%- include('../layout/script.ejs'); -%>

</body>
</html>